.confirm-button {
    background-color: #002E5D !important;
    color: #FFFFFF !important;
  }
  
  .confirm-button:hover {
    background-color: #001F3B !important;
  }
  
  .cancel-button {
    background-color: #FF4C4C !important;
    color: #FFFFFF !important;
  }
  
  .cancel-button:hover {
    background-color: #CC0000 !important;
  }